# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [published]
  workflow_dispatch: {}

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade poetry

    - name: Set release version
      run: |
        tag="${GITHUB_REF_NAME}"
        version="${tag#v}"  # Strip leading v

        # Bump poetry tag
        poetry version "$version"

    - name: Build and publish
      run: |
        poetry build
        TWINE_USERNAME=__token__ \
        TWINE_PASSWORD="${{ secrets.PYPI_TOKEN }}" \
        poetry run twine upload dist/*
